.section-text {
	text-align: center;
	padding-bottom: 50px;
	&__title {
		font-size: clamp(1.7rem, 0.6563rem + 2vw, 3.5rem);
		font-weight: 700;
		line-height: calc(49 / 36 * 100%);
		color: #7D71B1;
		text-transform: uppercase;
	}

	&__subtitle {
		font-size: clamp(1rem, 0.6563rem + 1.7vw, 1rem);
		line-height: calc(20 / 18 * 100%);
		letter-spacing: 0.055em;
		color: #1F1F1F;
	}
}